@model CondoSphere.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h2>Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">Total Companies</div>
            <div class="card-body">
                <h5 class="card-title">@Model.TotalCompanies</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">Total Condominiums</div>
            <div class="card-body">
                <h5 class="card-title">@Model.TotalCondominiums</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header">Total Users</div>
            <div class="card-body">
                <h5 class="card-title">@Model.TotalUsers</h5>
            </div>
        </div>
    </div>
</div>